*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}


/*1 ШАГ*/ 

.more-button {
  width: 100%;
}

.page{
 display: flex;
 flex-direction: row;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  height: 456px;
  width: 711px;
  margin: auto;
  gap: 45px;  /*с помощью этого двигать при сдаче*/
}

.result {
display:flex;
flex-direction: column;
width: 711px;

}

.content__details{
  display: flex;
  flex-direction: column;
  max-height: 543px;
  width: 400px;
  flex-shrink: 0; /* запрет на уменьшение*/

}

.search-form{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 26px;
  
}

.more-button{
width: 100%;
}
.content__list-container{
  overflow-x: auto;
  overflow-y: auto;
  height: 298px;
}


/* Кастомный скроллбар, последующие 3 эл НЕ ТРОГАТЬ!!*/
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
/*после можно*/

/* 2 ШАГ*/

.result__video-container{
 position:static;
 margin-bottom: 16px; 
 object-fit:contain;
 /* в конце по ПП задай размеры*/
}

.content__list{ /*это что?*/
gap: 30px;
display: flex;
flex-direction: column;

}

.content__list-item{
  width: 100%;
}

.content__list-container{
/* сколько гэп? как посмотреть в фигме?*/
}

.content__video-card{ /*тут что то не так*/
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  min-width: 194px;
}

.content__video-card-thumbnail{
  object-fit: cover;
  object-position:center;
  width: 194px;
  height: 103px;
}

.content__video-card-description-container{
  flex-grow: 1;
  min-width: 0;
}


/*3 ШАГ*/
.search-form__fieldset-title{
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  /* width 93 height 22 подредактируешь с ПП*/
  line-height: 100%;
  font-size: 18px;
}

.title{
  font-weight: 700;
  font-style: bold;
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0%;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
}

.content__accent{
  color: grey;
}

.content__card-link{
  color: white;
  text-decoration: none;
}

.content__video-card-title{
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 100%;
  text-transform: uppercase;
  color: white;
  /* учтите возможность переполнения, 
  заменяя излишний текст на “…”. доделай*/
}

.content__video-card-description{
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2%;
  letter-spacing: 0%;
  color: white;
  gap: 6px;
  padding-top: 9px;
  /*width 196px height 17px подправь потом с ПП*/
}
